.component-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 77vh;
  padding: 50px 100px;
  border-radius: 10px;
  background: #20182f;
  width: 50%;
  margin: auto;
}
.title {
  text-align: center;
}